:root {
    --br__bg-dark: #2c3e50;
    --br__bg-green: #1abc9c;
    --br__bg-gray: #3a546d;
}

/* HEADER */

#main-header {
    background-color: var(--br__bg-dark);
}

/* MAIN */

.hero {
    background-color: var(--br__bg-green);
}

/* DEBUG */

.debug .container {
    padding: 1.5rem;
}


.debug .row > * {
    border: 2px solid black;
    padding: 3rem;
}
